//------- Mixin/ include-----

@mixin transition($second){
    transition: all $second;
}

@mixin bgImage($height){
    width: 100%;
    height: $height;
    background: 
    linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.3)
    ),
    url("../../images/model-1.jpg");
    background-position: center center;
    background-size: cover;
}