@import "../variable.css";

*{
    margin: 0;
    box-sizing: border-box;
    font-family:var(--ff-montserrat);
}

body{
    background-color: var(--mavi-10);
}

h1{
    background-color:var(--koyu-kirmizi) ;
    border: 2px solid black;
    border-radius:50px ;
    width: 300px;
    text-align: center;
    margin: 1rem auto;
}

.header{
    background-color: var(--koyu-yesil);
    padding: 20px;
    margin: 20px 0;
}

.navbar{
    background-color: var(--gri-3);
    text-align: end;
}

.navbar a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 15px 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-1{
    background-color: var(--gri-5);
    width:35%;
}

.col-2{
    background-color: var(--gri-6);
    width:20%;
}

.col-3{
    background-color: var(--gri-7);
    width:30%;
}

.col-4{
    background-color: var(--gri-8);
    width:15%;
}


@media screen and (max-width:992px){
    body{
        background-color:var(--acik-kirmizi);
        color: white;
    }
    .col{
 width:50%;
 /* ekran küçülünce column lar 2 satır haline gelince aralarını açmak için margin */
 margin:0.5rem 0;
}
}
/*! 576px e kadar üstteki stiller kullanılsın. 576px ve altında, bir alttaki stiller kullanılsın */
@media screen and (max-width:576px) {
 
body{
 background-color:var(--mor-1)
}
.header{
 /* yeşil olan yazı gözükmesin */
 display:none;
}
.col{
 width:100%;
 /* margin vermeye gerek yok bir üstteki (tablette verdiğim margin geçerli) */
}

.navbar a{
 display:block;
 text-align:center;
}
/* .navbar{
 text-align:center;
} */

}
