//--------------------navbar--------------------
.nav{
    padding:1rem;
    height:10vh;

    &__list{
        text-align: right;
    }

    &__item{
        display:inline;
        padding:1rem;

    }
    &__link{
        text-transform: uppercase;
        font-weight: 500;
        font-size:1rem;
        font-family:$font-family;
        
        @include transition(1s);

        &:hover{
            color:rgb(56, 54, 102);
        }

        // nav__link--active
        &--active{
            color:$secondary-color;
        }
    }
}