@import "../abstracts/variables";

header {
  display: flex;
  justify-content: space-between;
  background-color: $primaryColor;

  img {
    border: $border;
    width: 80px;
    padding: 3px;
    border-radius: 10%;
    margin: 10px;
  }

  .nav {
    ul {
      display: flex;
      list-style-type: none;
      li {
        padding: 10px;
        a {
          text-decoration: none;
          color: black;
          font-size: 19px;

          &:hover {
            background-color: $secondaryColor;
            border-radius: 10px;
          }
        }
      }
    }
  }
}